.navbar {
  z-index: 1000;
  background-color: transparent !important;
  border: none;
  transition: background-color 0.3s, backdrop-filter 0.3s, transform 0.3s;
  padding-bottom: 8px;
  cursor: default;
  height: 160px;
  width: 100%;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(2px);
}

.navbar.expanded {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar.navbar-hidden {
  transform: translateY(-100%); /* Hide navbar when scrolling down */
}

.navbar-brand {
  margin-right: auto;
  margin-left: 0;
}

.navbar-logo {
  height: 180px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
}

@media (max-width: 768px) {
  .navbar-logo {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    height: 100px;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #989898 !important;
  margin: 0 2rem;
}

.navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0) !important;
  text-shadow: rgb(255, 255, 255);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));
}

.navbar-nav .nav-item .nav-link.active {
  font-weight: 500;
  color: rgb(0, 0, 0) !important;
  text-shadow: rgb(255, 255, 255);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler-icon {
  color: white;
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
}

.auth-navbar .nav-link {
  margin: 0 1rem;
}

body {
  margin-top: 120px;
}

/* Center menu on smaller screens */
@media (max-width: 768px) {
  .navbar.expanded .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.2rem;
  }

  .navbar.expanded .navbar-nav {
    align-items: flex-start;
    padding-left: 15px;
  }

  .navbar.expanded .navbar-nav .nav-link {
    color: white !important;
    margin: 0.5rem 0;
    text-align: left; /* Align text to the left */
    font-size: 12px;
  }

  .navbar .navbar-toggler-icon {
    color: white;
    background-image: none;
    font-size: 34px;
    position: relative;
  }

  .navbar .navbar-toggler-icon::before {
    content: "\2630";
    font-size: 34px;
    color: #940000;
  }
}
